body {
  font-family: sans-serif;
  margin: 0;
}

.parameters-section {
  position: fixed;
  top: 0;
  right: 0;
  width: 15rem;
  border-radius: 15px;
  border: 1px solid #ddd;
  background: white;
  opacity: 0.8;
  padding: 1rem;
}

.parameters-section label {
  display: block;
}

.parameters-section label + label {
  margin-top: 0.5rem;
}
